@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

header{
    background-image: url(../img/header_background.jpeg);
    background-size: cover;
    background-position: center center;
    height: 625px;
    width: 100%;
    font-family: "preconnect", system-ui;
}


header h2{
    text-align: center;
    color: white;
    padding: 100%;
    font-family: "preconnect", system-ui;
    padding: 260px;
}

main{
    max-width: 550px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    font-family: "preconnect", system-ui;
}

main img {
    font-family: "preconnect", system-ui;
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}

main a{
    font-family: "preconnect", system-ui;
    color: red;
    text-decoration: none;
}

footer {
    font-family: "preconnect", system-ui;
    background-color: black;
    width: 100%;
    padding: 10px;
}

footer p{
    font-family: "preconnect", system-ui;
    color: white;
    font-size: 20px;
    text-align: center;
}

.mejoratexto {
    font-family: "preconnect", system-ui;
    font-family: Arial; 
    font-size: 18px;
    text-align: center;
}

.container {
    font-family: "preconnect", system-ui;
    display: flex;
    width: 100%;
}

.column {
    font-family: "preconnect", system-ui;
    flex: 1;
    padding: 10px;
}

.imagenmejora {
    font-family: "preconnect", system-ui;
    width: 80%;
    height: 300px;
    text-align: center;
}

